.page {
    font-family: 'Inter', 'Arial', sans-serif;
    background-color: #E5E5E5;
    max-width: 1280px;
    margin: 0 auto;
    padding:0 auto;
    display: flex;
    flex-wrap: wrap;
    background-size: auto;
    position: relative;
    box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

@media screen and (max-width: 1024px) {
    .page {
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        max-width: 320px;
    }
}