.lead {
    margin: 0 auto;
    text-align: center;
    max-width: 984px;
    padding-top: 56px;
}

@media screen and (max-width: 1024px) {
    .lead {
        margin-left: 48px;
        margin-right: 48px;
        padding-top: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        margin-left: 0;
        margin-right: 0;
    }
}
