.footer__copyright {
    font-family: 'Inter';
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    max-width: 186px;
    max-height: 16px;    
    margin-left: auto;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        text-align: bottom;
        margin-top: 48px;
        margin-left: 0;
        margin-right: auto;
    }
}