.cover__background {
    height: 100%;
    width: 100%;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 740px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Inter';
    box-sizing: border-box;
    position: relative;
}



.cover__background:hover {
    opacity: 0.7;
    transition:  opacity 1s linear 0.5s;
    background-color: #2A2C2F;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        max-width: 1024px;
        min-height: 62.5vw;
    } 
}

@media screen and (max-width: 768px) {
    .cover__background {
        max-width: 768px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .cover__background {
        max-width: 320px;
    }
}