.footer {
    width: 100%;
    min-height: 18px;
    margin: 0 auto;
    padding: 0 48px 24px;
    display: flex;
    flex-wrap: wrap;
    background-color: #2A2C2F;
    position: relative;
    justify-content: space-between;
}

@media screen and (max-width: 690px) {
    .footer {
        flex-direction: column;       
    }
}